<!doctype html>
<html lang="en">
    <head>
        <title>Tufts Course Scheduler</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Tufts Course Scheduler automatically generates the best schedules for given classes to help students at Tufts University sign up for classes easily.">
        <% for (var link of css) { %>
        <%- link %><% } %>
        <% for (var script of js) { %>
        <%- script %><% } %>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2>Tufts Course Scheduler</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            Search
                        </div>

                        <div class="card-body">
                            <div class="input-group mb-3">
                                <input type="text" autocomplete="off" class="form-control mr-sm-2" placeholder="Search by course number, subject, or title" id="search_bar">
                                <div class="input-group-append">
                                    <select class="custom-select" id="term-select">
                                        <% terms.forEach(function(term){ %>
                                            <option value="<%= term %>"><%= term %></option>
                                        <% }); %>
                                    </select>
                                </div>
                            </div>

                            <div id="results" class="accordion md-accordion accordion-blocks" role="tablist"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="right">
                    <div id="my_courses"></div>

                    <div class="card">
                        <div class="card-header">
                            Preferences
                        </div>

                        <div class="card-body">
                            <fieldset>
                                <input type="checkbox" checked data-toggle="toggle" name="O" id="O">
                                <label for="O">Include Open Classes</label>
                                <br>

                                <input type="checkbox" data-toggle="toggle" name="C" id="C">
                                <label for="C">Include Closed Classes</label>
                                <br>

                                <input type="checkbox" data-toggle="toggle" name="W" id="W">
                                <label for="W">Include Waitlist Classes</label>
                            </fieldset>

                            <div class="form-group">
                                <label>Only Allow Courses Between</label>
                                <div id="time_range_slider"></div>
                                <small id="time_range"></small>
                            </div>

                            <div class="form-group">
                                <div class="d-flex justify-content-center">
                                    <label>Morning Classes</label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="pr-3">Hate</div>
                                    <div id="mornings-slider" class="my-slider"></div>
                                    <div class="pl-3">Love</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="d-flex justify-content-center">
                                    <label>Evening Classes</label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="pr-3">Hate</div>
                                    <div id="nights-slider" class="my-slider"></div>
                                    <div class="pl-3">Love</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="d-flex justify-content-center">
                                    <label>Consecutive Classes</label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="pr-3">Hate</div>
                                    <div id="consecutive-classes-slider" class="my-slider"></div>
                                    <div class="pl-3">Love</div>
                                </div>
                            </div>

                            <form id="create schedule" method="GET" action="schedule">
                                <button class="btn btn-primary" type="submit" onmousedown="event.preventDefault()">Create Schedule</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
