<!doctype html>
<html>
    <head>
        <title>Course Scheduler</title>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    </head>
    <body>
        <h1>Course Scheduler</h1>
        <form id="update_data">
            <button type="submit" id="update_data">update data</button>
        </form>
        <form id="search_form">
            <input type="text" placeholder="Search" id="search_bar">
            <input id="search_button" type="submit">
        </form>
    </body>
</html>
