<!doctype html>
<html lang="en">
    <head>
        <title>Tufts Course Scheduler</title>
        <!-- required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Tufts Course Scheduler automatically generates the best schedules for given classes to help students at Tufts University sign up for classes easily.">

        <!-- for Roboto font -->
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"> -->

        <!-- <link rel="stylesheet" href="bootstrap-material-design/dist/css/bootstrap-material-design.min.css"> -->
        <!-- <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="bootstrap-cerulean.min.css"> -->
        <!-- <link rel="stylesheet" href="bootstrap-flatly.min.css"> -->
        <!-- <link rel="stylesheet" href="bootstrap-materia.min.css"> -->

        <link rel="stylesheet" href="jquery-ui.min.css">

        <link rel="stylesheet" href="./main.css">


        <!-- <script src="jquery/dist/jquery.min.js" defer></script> -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous" defer></script>

        <!-- <script src="popper.js/dist/umd/popper.min.js" defer></script> -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous" defer></script>

        <!-- <script src="bootstrap-material-design/dist/js/bootstrap-material-design.min.js"></script> -->
        <!-- <script src="bootstrap/dist/js/bootstrap.min.js" defer></script> -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous" defer></script>

        <script src="jquery-ui.min.js" defer></script>

        <script src="index.js" defer></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js" integrity="sha384-MI/QivrbkVVJ89UOOdqJK/w6TLx0MllO/LsQi9KvvJFuRHGbYtsBvbGSM8JHKCS0" crossorigin="anonymous" defer></script>

    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Tufts Course Scheduler</h1>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-9"> -->
                <!-- <div class="flex-grow-1 px-3" id="left"> -->
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            Search
                        </div>

                        <div class="card-body">
                            <div class="input-group mb-3">
                                <input type="text" autocomplete="off" class="form-control mr-sm-2" placeholder="Search by course number, subject, or title" id="search_bar">
                                <div class="input-group-append">
                                    <select class="custom-select" id="term-select">
                                        <% terms.forEach(function(term){ %>
                                            <option value="<%= term %>"><%= term %></option>
                                        <% }); %>
                                    </select>
                                </div>
                            </div>

                            <div id="results" class="accordion md-accordion accordion-blocks" role="tablist"></div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-3"> -->
                <!-- <div class="px-3" id="right"> -->
                <div class="col-md-4" id="right">
                    <div id="my_courses"></div>

                    <div class="card">
                        <div class="card-header">
                            Preferences
                        </div>

                        <div class="card-body">
                            <fieldset>
                                <input type="checkbox" checked data-toggle="toggle" name="O" id="O">
                                <label for="O">Include Open Classes</label>
                                <br>

                                <input type="checkbox" data-toggle="toggle" name="C" id="C">
                                <label for="C">Include Closed Classes</label>
                                <br>

                                <input type="checkbox" data-toggle="toggle" name="W" id="W">
                                <label for="W">Include Waitlist Classes</label>
                            </fieldset>

                            <div class="form-group">
                                <label>Only Allow Courses Between</label>
                                <div id="time_range_slider"></div>
                                <small id="time_range"></small>
                            </div>

                            <div class="form-group">
                                <div class="d-flex justify-content-center">
                                    <label>Morning Classes</label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="pr-3">Hate</div>
                                    <div id="mornings-slider" class="my-slider"></div>
                                    <div class="pl-3">Love</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="d-flex justify-content-center">
                                    <label>Evening Classes</label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="pr-3">Hate</div>
                                    <div id="nights-slider" class="my-slider"></div>
                                    <div class="pl-3">Love</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="d-flex justify-content-center">
                                    <label>Consecutive Classes</label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="pr-3">Hate</div>
                                    <div id="consecutive-classes-slider" class="my-slider"></div>
                                    <div class="pl-3">Love</div>
                                </div>
                            </div>

                            <form id="create schedule" method="GET" action="schedule">
                                <button class="btn btn-primary" type="submit" onmousedown="event.preventDefault()">Create Schedule</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
