
/*https://stackoverflow.com/questions/8622686/how-come-i-cant-remove-the-blue-textarea-border-in-twitter-bootstrap*/
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
select
{
    /*box-shadow: none !important;*/
}

a {
    font-size: 14px;
    margin-top: 7px;
}
.card-title {
    font-size: 19px !important;
    font-weight: 400!important;
}

.ui-state-focus {
    outline: none;
}

.my-slider {
    width: 100%;
}

#left {
    /*padding: 1rem;*/
    /*border: solid #f8f9fa;*/
    /*background-color: #f8f8f8;*/
}
